{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<style>
    .container {
        margin-left: 250px;
        
        height: 100vh;
        transition: 0.5s;
    }

    #check:checked~.container {
        margin-left: 60px;
    }
</style>

{% endblock %}
{% block content %}
<div class="container">

    <h2 class="text-center" style="font-family: 'Cinzel', serif; text-decoration: underline; margin-bottom: 30px;">
        Recent Fundraiser</h2>
        {{macro.getFund(education)}}
        
</div>



{% endblock %}